@using BookProject.Models
@model List<Book>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="web_title">Book Manager | Sen</title>
    <link rel="icon" href="~/image/Enmusubi-full-body.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/manga.css">
    <link rel="stylesheet" href="~/css/mangadetail.css">
    <link rel="stylesheet" href="~/css/fnon.min.css">
</head>

<body>
    <video class="video" src="~/video/mylivewallpapers.com-Re-Zero-Rem-Tea-4K.mp4" loop autoplay muted></video>
    @await Html.PartialAsync("Header")
    @await Html.PartialAsync("SideBar")
    <div class="main @ViewBag.LeftActive">
        <div class="link" id="link">
            <a href="/Home/Index"> Trang chủ</a>
            <p> /</p>
            <a href="/Books/Books"> Truyện tranh </a>
            <p> /</p>
            <a href="/Books/ProviderBook"> Quản lý truyện </a>
        </div>
        <div class="new_update">
            <a href="/Books/AddBook" class="addbookbtn">Add new Book</a>
            <h2>
                List book you posted:
                <form action="/Books/ProviderBook" method="POST">
                    <input style="width: 92%; background-color: transparent; border-bottom: 1px solid white; color: white" class="input" placeholder="Nhập tên truyện vào đây" type="text" name="BookName" value="" />
                    <input class="readmanga" type="submit" name="Description" value="Search" />
                    @*<p style="font-size: 15px">Sắp xếp theo: </p>
                    <select class="input" name="order">
                    <option @(ViewBag.Status == 1 ? "selected" : "" ) value="1">Thời gian cập nhật</option>
                    <option @(ViewBag.Status == 2 ? "selected" : "" ) value="2">Tên truyện</option>
                    <option @(ViewBag.Status == 3 ? "selected" : "" ) value="3">Số lượt xem</option>
                    </select>*@
                </form>
            </h2> 
            <table>
                <tr>
                    <th>Bìa sách</th>
                    <th>Tên sách</th>
                    <th>Tên khác</th>
                    <th>Tác giả</th>
                    <th>Tóm tắt truyện</th>
                    <th>Thời gian đăng</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                </tr>
                @foreach (Book o in Model)
                {
                    <tr>
                        <td><img src="/image/Enmusubi-full-body.png" alt="Bìa sách" width="100" height="100" /></td>
                        <td>@o.BookName</td>
                        <td>@o.OtherName</td>
                        <td>@o.Author </td>
                        <td class="tbtoolong">@o.Description </td>
                        <td>@o.TimeProvide?.ToString("dd-MMM-yyyy") </td>
                        @if (o.Status == 1)
                        {
                            <td>Đang cập nhật </td>
                        }@if (o.Status == 2)
                        {
                            <td>Đã hoàn thành </td>
                        }@if (o.Status == 3)
                        {
                            <td>Tạm ngừng cập nhật </td>
                        }@if (o.Status == 4)
                        {
                            <td>Đã dừng cập nhật </td>
                        }
                        <td><a href="/Books/DetailBook?BookId=@o.BookId">Detail</a></td>
                        <td><a href="/Books/DeleteBook?BookId=@o.BookId">Delete</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    @await Html.PartialAsync("OtherNav")
    <script src="~/js/fnon.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            Fnon.Hint.Init({
                zIndex: 9900,
            });
            // Hint
            var message = "${message}";
            var theme = "${theme}";
            var title = "${title}";
            var position = "right-top";
            var animation = "slide-left";
            Fnon.Hint[theme](message, {
                title,
                position,
                animation,
            })
        });
    </script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="~/js/index.js"></script>
</body>

</html>